html {
  box-sizing: border-box;
  font-size: 100%;
}

body {
  // optimize font rendering
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-family: sans-serif;
  font-size: 15px;
  height: 100vh;
}
*,
*:after,
*:before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

// Avoid link underline
a {
  text-decoration: none;
}

.root {
  width: 100%;
  height: 100vh;
  background: linear-gradient(
    20deg,
    rgba(222, 184, 33, 0.7) 0%,
    rgba(118, 173, 176, 1) 98%
  );
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-box {
  width: 900px;
  height: 560px;
  background: linear-gradient(
    20deg,
    rgba(231, 171, 23, 1) 3%,
    rgba(211, 183, 44, 1) 40%,
    rgba(129, 175, 118, 1) 77%
  );
  border-radius: 20px;
  position: relative;
  overflow: hidden;
}

.menu {
  width: 100px;
  height: 125px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-around;
  position: absolute;
  top: 58px;
  left: 65px;

  .menu-item {
    color: #fff;
    cursor: pointer;
    font-weight: bold;
    font-size: 11px;
  }
}

.bar {
  position: absolute;
  top: 54px;
  right: 55px;
  width: 30px;
  height: 30px;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;

  .bar-line {
    width: 20px;
    height: 2px;
    background: #fff;
    border-radius: 2px;
    margin-bottom: 4px;
  }
}

.section-one {
  padding: 50px;
  position: relative;

  .actionOff {
    opacity: 0;
    visibility: hidden;
  }

  .action {
    transition: 0.3s;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 20px;
    position: absolute;
    bottom: 137px;
    left: 0;
    padding: 0 65px;
    height: max-content;

    .explore {
      width: 150px;
      height: 85px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      p {
        color: #fff;
        font-size: 11px;
        font-weight: bold;
        line-height: 1.8;
      }

      .button {
        width: 87px;
        height: 33px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 2px rgba(255, 255, 255, 0.6) solid;
        border-radius: 20px;
        color: #fff;
        font-size: 11px;
        font-weight: bold;
        cursor: pointer;
      }
    }

    .action-btn {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      height: 100%;
      margin: 0 70px;

      .btn {
        width: 54px;
        height: 54px;
        border-radius: 54px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1.5px rgba(245, 245, 245, 0.3) solid;
        cursor: pointer;
        color: #fff;
        margin-right: 15px;

        &:last-child {
          margin: 0;
        }
      }
    }

    .drawing {
      flex: 1;
    }
  }
}

.section-two {
  padding: 50px;
  height: 920px;
  z-index: 9;

  /* width */
  ::-webkit-scrollbar {
    width: 10px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  .text {
    color: #eee;
    font-size: 10px;
    display: flex;
    justify-content: center;
    margin-top: 250px;

    p {
      background: red;
      width: 355px;
      line-height: 2;
    }
  }
}

.scroll {
  opacity: 0;
  visibility: hidden;
  height: 90px;
  width: 6px;
  position: absolute;
  bottom: 60px;
  left: 65px;
  border-radius: 5px;
  background-color: rgba($color: #eee, $alpha: 0.2);
  transition: 1s;

  .scroll-item {
    transition: 1s;
    width: 100%;
    height: 30px;
    border-radius: 5px;
    background-color: rgba($color: #fff, $alpha: 0.7);
  }
}

.scroll2 {
  opacity: 1;
  visibility: visible;
}

.scroll3 {
  opacity: 1;
  visibility: visible;

  .scroll-item {
    transition: 1s;
    transform: translateY(60px);
  }
}

.section-three {
  height: 300px;
  width: 100%;
}

.float-text {
  width: 100%;
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: -400px;
  transition: 1.5s;

  p {
    color: #eee;
    font-size: 10px;
    width: 355px;
    line-height: 2;
  }
}

.float-text2 {
  bottom: -70px;
}

.float-text3 {
  bottom: 140px;
}

.title {
  color: #fff;
  font-size: 54px;
  font-weight: bold;
  width: 100%;
  height: max-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 0;

  p {
    margin-left: 50px;
    width: 60%;
  }
}

.car {
  width: 100%;
  display: flex;
  justify-content: center;
  position: absolute;
  left: 0;
  top: 200px;
  z-index: 10;
  transition: 1.5s;

  img {
    width: 390px;
    height: 240px;
    pointer-events: none;
    user-select: none;
    transition: 1.5s;
  }
}

.carTransform {
  transform: translateX(-135px);

  img {
    width: 340px;
    height: 210px;
  }
}

.carTransform2 {
  transform: translate(-120px, -170px) scale(0.8);
}

.camp {
  width: 100%;
  display: flex;
  justify-content: center;
  position: absolute;
  left: 350px;
  top: 190px;
  z-index: 10;
  transition: transform 1.5s, opacity 0.3s, visibility 0.3s;
  opacity: 0;
  visibility: hidden;

  img {
    width: 300px;
    height: 220px;
    pointer-events: none;
    user-select: none;
  }
}

.campTransform {
  opacity: 1;
  visibility: visible;
  transform: translateX(-160px);
}

.campTransform2 {
  opacity: 1;
  visibility: visible;
  transform: translate(-190px, -150px) scale(0.8);
}

.empty {
  width: 100%;
  height: 60vh;
  display: flex;
  justify-content: flex-end;
  align-items: center;

  img {
    max-width: 250px;
    height: 200px;
  }
}
